@using Witty.Models
@model WittyEntryViewModel

<div id="response-list-container" class="container">
    <div class="row mt-5">
        <div class="col-12 text-center">
            @Model.WittyEntry.Question
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="dropdown float-start me-2">
                <button class="btn btn-outline-default dropdown-toggle" 
                        type="button" 
                        id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" 
                        aria-expanded="false">
                    Filter by Category
                </button>
                <ul class="dropdown-menu" 
                    data-bs-auto-close="false" 
                    aria-labelledby="dropdownMenuLink">
                    <li>
                        <a class="dropdown-item" 
                           data-category="all" 
                           data-all-categories="@Model.StringifyCategories()" 
                           href="#">
                            <input type="checkbox" />&nbsp;All Categories
                        </a>
                    </li>
                    @{
                        List<string> categories = Model.GetCategories();

                        foreach (string category in categories)
                        {
                            <li>
                                <a class="dropdown-item" 
                                   data-category="@category" 
                                   href="#">
                                    <input type="checkbox" />&nbsp;@category
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="float-start">
                <button class="btn submit-btn apply-filter">
                    Apply Filter
                </button>
            </div>
        </div>
    </div>
    @{ 
        var groupedResponse = Model.ResponsesGroupedByCategory();

        foreach(var group in groupedResponse)
            {
                <div class="card mt-5 response-card-group" data-category="@group.Key">
                    <div class="card-header">
                        @group.Key
                    </div>
                    <ul class="list-group list-group-flush response-list">
                        @foreach (Response r in group)
                        {
                        <li class="list-group-item response-item">
                            @r.ResponseString
                            <div class="float-end response-menu d-none">
                                <i 
                                   class="fas fa-trash-alt delete-icon" 
                                   data-response-id="@r.Id"
                                   data-witty-entry-id="@Model.WittyEntry.Id"></i>
                            </div>
                        </li>
                        }
                    </ul>
                </div>
            }
    }
</div>

@section Scripts {
<script>
    document.addEventListener("DOMContentLoaded", function () {
        GetWittyEntryController.init("response-list-container");
    });
</script>
}
