@using Witty.Models
@model WittyEntryViewModel

<div id="response-list-container" class="container">
    <div class="row mt-5">
        <div class="col-12 text-center">
            @Model.WittyEntry.Question
        </div>
    </div>
    @{ 
        var groupedResponse = Model.ResponsesGroupedByCategory();

        foreach(var group in groupedResponse)
            {
                <div class="card mt-5 response-card-group">
                    <div class="card-header">
                        @group.Key
                    </div>
                    <ul class="list-group list-group-flush response-list">
                        @foreach (Response r in group)
                        {
                        <li class="list-group-item response-item">
                            @r.ResponseString
                            <div class="float-end response-menu d-none">
                                <i 
                                   class="fas fa-trash-alt delete-icon" 
                                   data-response-id="@r.Id"
                                   data-witty-entry-id="@Model.WittyEntry.Id"></i>
                            </div>
                        </li>
                        }
                    </ul>
                </div>
            }
    }
</div>

@section Scripts {
<script>
    document.addEventListener("DOMContentLoaded", function () {
        GetController.init("response-list-container");
    });
</script>
}
